@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html{
scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

.bg-hero {
  background-image:    url('../img/bg-hero.png');
  background-size:     cover;
  background-position: center;
  height:              100%;
}

.title {
  font-family: 'Rubik', sans-serif !important;
}

.w-fit {
  display: block;
  width: fit-content;
}
